.overlay {
  position: relative;
  display: block;
  max-width: 500px;
  max-height: 700px;
}

.overlay:hover > .overlayDescription {
  z-index: 2;
  opacity: 0.8;
  transition: all .3s ease-in-out;
}

.column:nth-child(1) {
  margin-left: 10px;
}
.column:nth-child(4) {
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .column:nth-child(3) {
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .column:nth-child(1) {
    margin-left: 0;
  }

  .column:nth-child(2),
  .column:nth-child(4) {
    display: none;
  }
}