@font-face {
  font-family: "Circe Extra Bold";
  src: url('./fonts/Circe-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Circe Bold";
  src: url('./fonts/Circe-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Circe Regular";
  src: url('./fonts/Circe-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Circe Light";
  src: url('./fonts/Circe-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

.app {
  font-family: "Circe Regular", "Helvetica Neue", sans-serif;
}


/* Small devices (landscape phones, 576px and up) */
/*@media (min-width: 576px) {*/

/*}*/

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}


@keyframes showPic {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-25);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-25);
  }
  100% {
    transform: translateY(0);
  }
}


@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
